
@media (max-width: 992px){


   body               {
      background-color: crimson;
      background-image: url(../imagenes/cocina2.jpg);
  
  background-repeat: no-repeat;
  
  background-attachment: fixed;
  
  background-size: cover;
  }


}





@media (min-width: 992px){


   body               {
      background-color: crimson;
      background-image: url(../imagenes/cocina.jpg);
  
  background-repeat: no-repeat;
  
  background-attachment: fixed;
  
  background-size: cover;
  }

   
}

p              {font-size: 20px;}

.marron{ background-color: brown;}

.verde{ background-color: green; 
height:30px ;
width: 400px
 } 


 .dos {

background-color: red;
background-image: url(../imagenes/galaxy.jpg);

background-repeat: no-repeat;

background-attachment: fixed;

background-size: cover;


 }

h1             { font-size: 45px;
   
    
 text-decoration: underline;

 display: flex;
justify-content: center;
align-items: center;
flex-grow: 10;

margin-right:30px;

}

h2                    { font-size: 30px; text-decoration: underline;} 


h3  { font-size: 25px;}

 li {   font-size: 20px;} 
 
 .pa {   font-size: 30px;}

.rick                    {font-size: 30px;

}

.milanesas             { font-size:  30px;
 

}

.milanga               { font-size:  30px;

}

.contact            { font-size: 30px;    


}


   .waza                   {position: fixed;

   bottom: 10px;
   right: 10px;
   height: 50px;
   
   }
@media ( max-width:992px) {
   .mila{

      height: 36vh;
      display:none;
      
      }
      
}

.mila{

   height: 36vh;
}

@media ( min-width:992px) {
   .mila2{

      height: 36vh;
      display:none;
      
      }
       
}
.mila2{

   height: 36vh;
}
@media (min-width: 992px){
.vid2 {

display:none;


}


}

.vid2 {
   font-size: 45px;
   text-decoration: underline;

}

@media (max-width:992px) {
   

   .vid {
            display:none;
   }
   
}
   .vid {   height: 40vh ;
      width:   50vh ;     



   }


  @media (min-width:992px) {
   
.ja { 
display: none;
}



  }





header{display: flex;

justify-content: space-around;

flex-direction: row-reverse;

align-items:flex-start;

flex-wrap: wrap;

background-color: maroon;


}





   .keso {
height: 17vh ;
flex-grow: 1;
margin: 5px;
margin-right: 30px;
}








 .redes {
 
height: 13vh;
 

}

nav   {
   
   
   
   
   display: flex;
justify-content: space-around;
 flex-direction: row;


padding: 30px;
background-color: orange;


}







 


 footer{display: flex;
   justify-content: space-around;
align-items: flex-end;
background-color: maroon;
flex-wrap:wrap ;

 }
 .redes3 {
height: 13vh;



 }

 .maps {
height: 30vh;
flex-grow: 100;
 margin-top: 30px;
 margin-right: 30px;
 }

 .info {
background-color: white;

text-decoration: underline;

margin-right: 50px;
margin-left: 50px;
 }






 a:link { 

   color: blue;
   
   
   
   }
   
   a:visited {
   
   color:green;
   
   }
   
   
   a:hover {
   
   color:black;
   
   text-decoration:wavy;
   

   
   }
   
   a:active {
   
   color: white;
   
   }
   

div {

   height: 24vh;
}








