body{background-image: url(https://previews.123rf.com/images/vizafoto/vizafoto1801/vizafoto180100298/92942723-masa-con-harina-sobre-un-fondo-antiguo-en-una-composici%C3%B3n-con-accesorios-de-cocina.jpg);

background-repeat: no-repeat;

background-attachment: fixed;

background-size: cover;
}

.marron{ background-color: brown;}

.verde{ background-color: green; 
    height:30px ;
width: 400px;

} 



h1 { font-size: 30px;
    
    
    text-decoration: underline;

    display: flex;
justify-content: center;
align-items: center;

}

h2 { font-size: 23px; text-decoration: underline;} 


.rick {font-size: 30px;}